In [1]:
import mysql.connector as SQLC
# Establishing connection with the SQL
 
DataBase = SQLC.connect(
  host ="localhost",
  user ="root",
  password ="Gagan@1234"
)
# Cursor to the database
Cursor = DataBase.cursor()
 
Cursor.execute("CREATE DATABASE student")
print("student Data base is created")

student Data base is created

In [1]:
import mysql.connector

dataBase = mysql.connector.connect(
                    host = "localhost",
                    user = "root",
                    passwd = "Gagan@1234",
                    database = "student" )

cursorObject = dataBase.cursor()

# creating table
studentRecord = """CREATE TABLE DETAILS (
                NAME VARCHAR(20) NOT NULL,
                BRANCH VARCHAR(50),
                ROLL INT NOT NULL,
                SECTION VARCHAR(5),
                AGE INT
                )"""

# table created
cursorObject.execute(studentRecord)

# disconnecting from server
dataBase.close()

In [1]:
import mysql.connector

dataBase = mysql.connector.connect(
host ="localhost",
user ="root",
passwd ="Gagan@1234",
database = "student"
)

cursorObject = dataBase.cursor()

sql = "INSERT INTO DETAILS (NAME, BRANCH, ROLL, SECTION, AGE)\
VALUES (%s, %s, %s, %s, %s)"
val = [("Nikhil", "pdc", "01", "A", "22"),
	("abc", "ds", "10", "A", "23"),
	("john", "fsd", "15", "B", "22"),
	("xyz", "ml", "20", "A", "25"),
	("aaa", "ae", "12", "B", "23"),]

cursorObject.executemany(sql, val)
dataBase.commit()

# disconnecting from server
dataBase.close()